<form action="/auth/login" class="form-signin" method="POST">


        <h1>Our Project </h1>


        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<div class="form-group">
        <label for="inputEmail" class="sr-only">Email </label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required />
</div>
<div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required />
</div>
<div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted"> <a href="/auth/forgot_password">Forgot your password ?</a></p>
</div>
     

       

      

</form>
