


      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Brands
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">


<p>
        <a href="/brands/create" class="btn btn-success">Add New</a>
    </p>
    <table class="table table-bordered" id="brandsTable">
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody>
            <!-- data coming from server -->
        </tbody>
    
    </table>
            
       </section>
</section>
<script>
    
        $("#brandsTable").DataTable({
            "processing": false,
            "serverSide": false,
            "ajax": {
                "url": "/brands/getData",
                "type": "POST",
                "dataSrc":"data"
            },
          
            "columnDefs":[
            {
                
                "targets":2,
                "data":"logo",
                "render" : function ( url, type, data) {
                    return '<img  width="50px" src="/uploads/brands/'+data['logo']+'"/>';
                }
            },
            {
                "targets":3,
                "data":"id",
                "render": function (data, type, row, meta){
                    var msg = "Are you sure to delete ?";
                    return '<a href="/brands/'+data+'/edit" class="btn btn-info btn-sm">Edit</a>'+
                    '<a href="/brands/'+data+'/delete" onclick="return confirm(msg);" class="btn btn-danger btn-sm">Delete</a>';
                }
            }
            ],
            columns: [ 
            { data : "id" },
            { data : "name" },
            { data : "logo" },
            { data : "id"}
            ]
            
        });
        
    </script>